/*=== element page ===*/
body{
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.66;
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
}
.elements.container {
	max-width: 1350px !important;
}

/*=== Typography ===*/
hr {
	margin: 2rem 0;
}
strong,
b{
    font-weight: 500;
}
code {
	background: rgba(144, 144, 144, 0.075);
	border: 1px solid #eeeeee;
	color: #333;
	padding: 0 0.3rem;
	margin: 0 0.3rem;
}
sup {
	top: -0.8em;
}
sub {
	top: -0.5em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 1rem 0;
}

.btn {
	display: inline-block;
	font-weight: 600;
	border: 2px solid transparent;
	padding: 0.9rem 1.9rem;
	border-radius: 50px;
	background-color: #3dc5ad;
	color: #fff;
	min-width: 135px;
	margin-bottom: 10px;
	margin-right: 10px;
	letter-spacing: 0.5px;
}
.btn:hover {
    color: #fff;
    background-color: #3ad8bb;
}
.btn-sm-border:hover,
.btn-border:hover {
    color: #3dc5ad;
    background-color: rgba(61, 197, 173, 0.1);
}
.btn:focus,
.btn-sm-border:focus,
.btn-border:focus,
.btn:active,
.btn-sm-border:active,
.btn-border:active {
    border-color: transparent;
    box-shadow:  0 0 0 .2rem rgba(61, 197, 173,.6);
}
.btn-sm-border,
.btn-border {
	background-color: transparent;
	border-color: #3dc5ad;
	color: #3dc5ad;
}
.btn-large {
	padding: 1.15rem 1rem;
}
.btn-sm-border,
.btn-small {
	padding: 0.5rem 1rem;
}
.list-inline-item.col,
.list-inline-item {
	padding-right: 10px;
    margin-right: 0;
}
.list-inline-item:not(:last-child) {
	margin-right: 0;
}
.btn i {
	margin-right: 8px;
}
ul,ol {
    margin: 0 0 1rem 0;
}
.ul-list {
	list-style: inside;
	padding-left: 0;
}
.ol-list {
	display: inline-block;
	list-style: url;
	padding-left: 50px;
}
.ul-alternate {
	list-style: none;
	padding: 0;
}
.ul-alternate li {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.ul-alternate li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.icons {
	display: inline-block;
	padding-left: 40px;
	margin-bottom: 5px;
}
.icons li {
	font-size: 20px;
	color: #444;
	margin: 0 3px;
	cursor: pointer;
}
blockquote {
	font-style: italic;
	font-size: 1.1rem;
	font-weight: 300;
	color: #666;
	border-left: 4px solid #f1f1f1;
	padding-left: 35px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 1px solid #e9ecef;
	font-size: 1rem;
	font-weight: 500;
	color: #444;
}
.table td,
.table th {
	padding: .75rem 1.1rem;
}

.custom-control-description {
    line-height: 1;
}

.custom-control-indicator {
	top: -5px;
	width: 1.8rem;
	height: 1.8rem;
}
.custom-control {
	padding-left: 2.5rem;
}
.form-control {
	border-color: #e2e2e2;
	font-size: 1rem;
	padding: 1rem 1.3rem;
	color: #777;
	letter-spacing: 0.5px;
	border-radius: 10px;
	box-shadow: 0.5px 0.1px 0 0.15rem transparent;
	border-width: 1px;
}

.custom-select:active,
.custom-select:focus,
.form-control:active,
.form-control:focus{
    border-color: transparent;
	box-shadow: 0.5px 0.1px 0 0.15rem #3dc5ad;
}
.form-control::placeholder {
	color: #aaa;
	opacity: 1;
}
.form-group {
    margin-bottom: 0;
	padding-bottom: 1.6rem;
}
.custom-select {
	border-color: #eee;
	color: #999;
	padding: 1rem 2rem 1rem 1rem;
	min-height: 60px;
	border-radius: 10px;
	font-size: 1rem;
	width: 100%;
    max-width: 100%;
}
.custom-control-input.is-valid ~ .custom-control-indicator, 
.was-validated .custom-control-input:valid ~ .custom-control-indicator {
	background-color: #3dc5ad;
    box-shadow: none;
}
.float-img-right img {
	float: left;
	margin-right: 30px;
	max-width: 190px;
	border-radius: 15px;
	margin-bottom: 20px;
}
.float-img-left img {
	float: right;
	margin-left: 30px;
	max-width: 190px;
	border-radius: 15px;
	margin-bottom: 20px;
}
.text-box {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 2rem;
}





.elements-header {
    background-color: #3dc5ad;
}
.elements-header .jumbotron {
	background-color: transparent;
	border-radius: 0;
    font-weight: 700;
    padding: 6rem 0;
}
.elements-header .display-3 {
	font-size: 4.5rem;
	font-weight: 100;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 20px;
}
.elements-header .lead {
	font-size: 1.7rem;
	font-weight: 200;
	color: #fff;
	max-width: 1000px;
	margin: 0 auto;
}

.elements {
    background-color: #fff;
	max-width: 1250px;
	padding: 50px 40px;
	margin: 5rem auto;
}
.element-title {
    font-weight:500; 
	margin-bottom: 20px;
	color: #333;
}
ol .element-sub-title,
ul .element-sub-title {
	mmargin-left: -18px;
}
.element-sub-title {
	margin-bottom: 8px;
	color: #333;
	font-size: 20px;
	font-weight: 500;
}
.gallery img { margin-bottom: 30px; }




.gradient-1 {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}




















